body {
    min-height: 100vh;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.css-dzkm8o-MuiInputBase-root-MuiOutlinedInput-root,
.css-1yqi2f0-MuiInputBase-root-MuiOutlinedInput-root {
    background-color: white;
}